<mat-card style="margin-left: 10px;">
    <h2>Catálogo de cuentas contables</h2>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <thead class="table-dark">
                                <tr>
                                    <th>Código</th>
                                    <th>Nombre</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor= "let cuenta of catalogoCuentas">
                                    <td>{{cuenta.codigoCuenta}}</td>
                                    <td>{{cuenta.nombreCuenta}}</td>
                                    <td>
                                        <button (click)="eliminarCuenta(cuenta.idCuenta)" mat-raised-button color="accent" style="margin-left: 10px;">Eliminar</button>
                                        <button [routerLink]="'/admin/actualizarCuenta/'+cuenta.idCuenta" mat-raised-button color="primary" style="margin-left: 10px;">Actualizar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>


