<mat-card>
    <h1 class="text-center">Crear CuentaT</h1>
    <div class="row">
        <div class="col-md-6 offset-md-2"></div>
        <form (ngSubmit)= "onSubmit()" #cuentaTForm = "ngForm">
            <mat-form-field class="w100" appearance="fill">
                <mat-label>Código</mat-label>
                <mat-select name="codigo" [(ngModel)] = "cuentaTData.codigo.codigoCuenta">
                    <mat-option *ngFor = "let c of cuentas" [value]="c.codigoCuenta">
                        {{c.codigoCuenta}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field class="w100" appearance="fill">
                <mat-label>Nombre</mat-label>
                <mat-select name="nombre" [(ngModel)] = "cuentaTData.nombre.nombreCuenta">
                    <mat-option *ngFor = "let c of cuentas" [value]="c.nombreCuenta">
                        {{c.nombreCuenta}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field class="w100" appearance="fill">
                <mat-label>Tercero</mat-label>
                <mat-select name="tercero" [(ngModel)] = "cuentaTData.tercero.idTercero">
                    <mat-option *ngFor = "let c of cuentas" [value]="c.idTercero">
                        {{c.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
    
            <mat-form-field class="w100" appearance="fill">
                <mat-label>Débito</mat-label>
                <input 
                type="number"
                id="debito"
                [(ngModel)] = "cuentaT.debito"
                name="debito"
                required
                minlength="1"
                maxlength="10"
                placeholder="Digite el valor débito de la cuenta"
                #debito="ngModel"
                matInput
                >
                <div class="alert alert-danger" *ngIf= "debito.invalid && (debito.dirty || debito.touched)">
                    <div *ngIf = "debito.errors.required">
                        Digite el valor débito de la cuenta
                    </div>
                    <div *ngIf = "debito.errors.minlength">
                        El valor débito debe tener como mínimo 1 dígito
                    </div>
                    <div *ngIf = "debito.errors.maxlength">
                        El valor débito debe tener como máximo 10 dígitos
                    </div>
                </div>
            </mat-form-field>
    
            <mat-form-field class="w100" appearance="fill">
                <label>Crédito</label>
                <input 
                type="number"
                id="credito"
                [(ngModel)] = "cuentaT.credito"
                name="credito"
                required
                minlength="1"
                maxlength="10"
                placeholder="Digite el valor crédito de la cuenta"
                #credito="ngModel"
                matInput
                >
                <div class="alert alert-danger" *ngIf= "credito.invalid && (credito.dirty || credito.touched)">
                    <div *ngIf = "credito.errors.required">
                        Digite el valor crédito de la cuenta
                    </div>
                    <div *ngIf = "credito.errors.minlength">
                        El valor crédito debe tener como mínimo 1 dígito
                    </div>
                    <div *ngIf = "credito.errors.maxlength">
                        El valor crédito debe tener como máximo 10 dígitos
                    </div>
                </div>
            </mat-form-field>
            <div class="container text-center">
                <button mat-raised-button coor="primary" [disabled]= "!cuentaTForm.form.valid">Guardar</button>
            </div>
        </form>
    </div>
</mat-card>


