<h2>Catálogo de cuentas contables</h2>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor= "let cuenta of catalogoCuentas">
            <td>{{cuenta.codigoCuenta}}</td>
            <td>{{cuenta.nombreCuenta}}</td>
            <td>
                <button (click)="eliminarCuenta(cuenta.idCuenta)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
                <button (click)="actualizarCuenta(cuenta.idCuenta)" class="btn btn-info" style="margin-left: 10px;">Actualizar</button>
            </td>
        </tr>
    </tbody>
</table>
