<mat-card>
    <h1 class="text-center">Crear tercero</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit)= "onSubmit()" #terceroForm = "ngForm">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Nombre</mat-label>
                            <input 
                            autofocus
                            type="text"
                            class="form-control"
                            id="nombre"
                            [(ngModel)]="tercero.nombre"
                            name="nombre"
                            matInput
                            required
                            minlength="3"
                            maxlength="20"
                            placeholder="Digite el nombre del tercero"
                            #nombre="ngModel"
                            >
                            <div class="alert alert-danger" *ngIf= "nombre.invalid && (nombre.dirty || nombre.touched)">
                                <div *ngIf = "nombre.errors.required">
                                    Digite el nombre del tercero
                                </div>
                                <div *ngIf = "nombre.errors.minlength">
                                    El nombre debe tener como mínimo 3 caracteres
                                </div>
                                <div *ngIf = "nombre.errors.maxlength">
                                    El nombre debe tener como mínimo 20 caracteres
                                </div>
                            </div>
                        </mat-form-field>
                
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label for="tipoDocumento">Tipo Documento</mat-label>
                            <input 
                            type="text"
                            class="form-control"
                            id="tipoDocumento"
                            [(ngModel)]="tercero.tipoDocumento"
                            name="tipoDocumento"
                            matInput
                            required
                            minlength="1"
                            maxlength="3"
                            placeholder="Digite el tipo de documento"
                            #tipoDocumento="ngModel"
                            >
                            <div class="alert alert-danger" *ngIf= "tipoDocumento.invalid && (tipoDocumento.dirty || tipoDocumento.touched)">
                                <div *ngIf = "tipoDocumento.errors.required">
                                    Digite el tipo de documento del tercero
                                </div>
                                <div *ngIf = "tipoDocumento.errors.minlength">
                                    El tipo de documento debe tener como mínimo 1 carácter
                                </div>
                                <div *ngIf = "tipoDocumento.errors.maxlength">
                                    El tipo de documento debe tener como máximo 3 caracteres
                                </div>
                            </div>
                        </mat-form-field>
                
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Documento</mat-label>
                            <input type="text"
                            class="form-control"
                            id="documento"
                            [(ngModel)] = "tercero.documento"
                            name="documento"
                            required
                            matInput
                            minlength="8"
                            maxlength="10"
                            placeholder="Digite documento"
                            #documento="ngModel"
                            >
                            <div class="alert alert-danger" *ngIf= "documento.invalid && (documento.dirty || documento.touched)">
                                <div *ngIf = "documento.errors.required">
                                    Digite el documento del tercero
                                </div>
                                <div *ngIf = "documento.errors.minlength">
                                    El documento debe tener como mínimo 8 dígitos
                                </div>
                                <div *ngIf = "documento.errors.maxlength">
                                    El documento debe tener como máximo 10 dígitos
                                </div>
                            </div>
                        </mat-form-field>
                
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Dirección</mat-label>
                            <input type="text"
                            class="form-control"
                            id="direccion"
                            [(ngModel)] = "tercero.direccion"
                            name="direccion"
                            required
                            matInput
                            minlength="10"
                            maxlength="50"
                            placeholder="Digite la dirección"
                            #direccion="ngModel"
                            >
                            <div class="alert alert-danger" *ngIf= "direccion.invalid && (direccion.dirty || direccion.touched)">
                                <div *ngIf = "direccion.errors.required">
                                    Digite la dirección del tercero
                                </div>
                                <div *ngIf = "direccion.errors.minlength">
                                    La dirección debe tener como mínimo 10 caracteres
                                </div>
                                <div *ngIf = "direccion.errors.maxlength">
                                    La dirección debe tener como máximo 50 caracteres
                                </div>
                            </div>
                        </mat-form-field>
                
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Teléfono</mat-label>
                            <input type="text"
                            class="form-control"
                            id="telefono"
                            [(ngModel)] = "tercero.telefono"
                            name="telefono"
                            required
                            matInput
                            minlength="7"
                            maxlength="10"
                            placeholder="Digite el teléfono"
                            #telefono="ngModel"
                            >
                            <div class="alert alert-danger" *ngIf= "telefono.invalid && (telefono.dirty || telefono.touched)">
                                <div *ngIf = "telefono.errors.required">
                                    Digite el teléfono del tercero
                                </div>
                                <div *ngIf = "telefono.errors.minlength">
                                    El teléfono debe tener como mínimo 7 dígitos
                                </div>
                                <div *ngIf = "telefono.errors.maxlength">
                                    El teléfono debe tener como máximo 10 dígitos
                                </div>
                            </div>
                        </mat-form-field>
                
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Correo </mat-label>
                            <input type="email"
                            class="form-control"
                            id="correo"
                            [(ngModel)] = "tercero.correo"
                            name="correo"
                            pattern ="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
                            required
                            matInput
                            placeholder="Digite el correo electrónico"
                            #correo="ngModel"
                            >
                            <div class="alert alert-danger" *ngIf= "correo.invalid && (correo.dirty || correo.touched)">
                                <div *ngIf = "correo.errors.required">
                                    Digite el correo eletrónico
                                </div>
                                <div *ngIf = "correo.errors.pattern">
                                    Dígite el correo eletrónico con el siguiente formato: correo123@gmail.com
                                </div>
                            </div>
                        </mat-form-field>
                        <br>
                        <div class="container text-center mt20">
                            <button mat-raised-button color="primary" [disabled]= "!terceroForm.form.valid">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

    
    

