<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button routerlink= "/admin" mat-list-item>
            <mat-icon mat-list-icon>home</mat-icon>Inicio
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
        </button>
        <button mat-list-item routerLink="/admin/catalogoCuentas">
            <mat-icon mat-list-icon>list</mat-icon>Catálogo Cuentas
        </button>
        <button mat-list-item routerLink="/admin/crearCuenta">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>Agregar Cuenta contable
        </button>
        <button mat-list-item routerLink="/admin/listadoTerceros">
            <mat-icon mat-list-icon>list</mat-icon>Terceros
        </button>
        <button mat-list-item routerLink="/admin/crearTercero">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>Agregar Tercero
        </button>
        <button mat-list-item routerLink="/admin/listadoCuentasT">
            <mat-icon mat-list-icon>list</mat-icon>Cuenta T
        </button>
        <button mat-list-item routerLink="/admin/crearCuentaT">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>Agregar Cuenta T
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>list</mat-icon>Asiento contable
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>Agregar Asiento Contable
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>list</mat-icon>Libro Diario
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>add_circle_outline</mat-icon>Agregar Libro Diario
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>logout</mat-icon>Salir
        </button>

    </mat-action-list>
</mat-card>
